/*TODO: Add a background color or image to your website*/
body {
  background-color: #FFFFFF;
  padding: 50px 80px;
}

h1 {
  color: #F0E68C;
  font-size: 50px;
  text-align: center;
  padding: 10px 90px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.topnav {
  background-color: #F0E68C;
  overflow: hidden;
  padding: 10px 10px;
  border-radius: 50px;
}

.topnav a {
  color: #F0F8FF;
  text-align: center;
  padding: 60px 30px;
  text-decoration: none;
  font-size: 20px;
}

.image {
  position: relative;
  border-color: red;
  border-radius: 30px;
}

h2 {
  padding: 20px 90px;
  color: #F0E68C;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  text-decoration: double underline;
}

.p1 {
  padding: 10px 10px;
  background-color: #F0E68C;
  font-size: 30px;
  border-color: red;
  border-radius: 100px;
}

.p1 {
  color: white;
}

.links {
  padding: 10px 10px;
  background-color: #F0E68C;
  font-size: 30px;
  border-color: red;
  border-radius: 100px;
}

.links a {
  color: white;
  text-decoration: none;
}
